.container {
    background-color: darkred;
    width: 30%;
    border: 2px solid gray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: black;
    color: white;
    width: 90%;
    border-radius: 2rem;
    margin: 10px;
    font-size: 200%;
    display: flex;
    justify-content: flex-end;
}

.display {
    padding: 15px;
}

.numberButton button {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 11px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.operatorButton button {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 11px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.specialButton button {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 11px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.buttonBox {
    display: flex;

}

.boringButtons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}